@import "./colors.css";

@font-face {
    font-family: "Pix Chicago";
    src: url(./fonts/pixChicago.ttf);
}

:root {

    /*GENERICS*/
        /*COLORS*/
            --default-transition-time: 0.3s;
            --small-font-size: 10px;
            --text-color: var(--whib-840);
            --focus-color: var(--honeymoon-400);

        /*COMPOSITIONS*/
            --default-transition-time: 0.3s;
            --default-outline-focus-effect: var(--honeymoon-400) solid 3px;

    /*COMPONENTS*/
        /*DIALOG*/
            --dialog-background-a: var(--whib-120);
            --dialog-border: var(--whib-960);
            --dialog-shadow: var(--whib-960);
            --dialog-button-background: var(--whib-60);
            --dialog-background-image-offshadow: var(--shadowing-300);

        /*BUTTON*/
            /*GENERIC*/
                --button-border: inset 1px solid var(--whib-960);
                --button-inset-shadow-bottom: inset -2px -2px 0px 0px var(--shadowing-400);
                --button-inset-shadow-top: inset 2px 2px 0px 0px var(--white-shadowing-500);
    
            /*ANIMATIONS*/
                /*HOVER*/
                    --button-hover-translate: -3px -3px;
                    --button-hover-shadow:  3px 3px 0px 0px var(--whib-960);
            
            /*PADDINGS*/
                --button-small-padding: 10px;
                --button-medium-padding: 15px;
                --button-large-padding: 20px;
            
            /*THEMES*/
                --button-green: var(--chartreuse-500);
                --button-green-hover: var(--chartreuse-400);
                --button-green-active: var(--chartreuse-300);
                --button-red: var(--crimson-500);
                --button-red-hover: var(--crimson-400);
                --button-red-active: var(--crimson-300);
                --button-orange: var(--orange-red-400);
                --button-orange-hover: var(--orange-red-300);
                --button-orange-active: var(--orange-red-200);
                --button-primary: var(--honeymoon-400);
                --button-primary-hover: var(--honeymoon-300);
                --button-primary-active: var(--honeymoon-200);
                --button-default: var(--whib-180);
                --button-default-hover: var(--whib-120);
                --button-default-active: var(--whib-60);

        /* INPUT */
            --input-background: var(--whib-60);
            --input-border: var(--whib-960);
            --input-inset-shadow: var(--shadowing-500);
            --input-shadow: var(--whib-60);
            --input-shadow-focus: var(--honeymoon-400);

}

.b-button {
    font-size: var(--small-font-size);
    color: var(--text-color);
    border: var(--button-border);
    box-shadow: var(--button-inset-shadow-top), var(--button-inset-shadow-bottom);
    transition: var(--default-transition-time);
}
.b-button:hover {
    translate: var(--button-hover-translate);
}
.b-button:active {
    outline: var(--focus-color);
}

.b-button .b-button-small-padding {
    padding: var(--button-small-padding);
}

.b-button .b-button-medium-padding {
    padding: var(--button-medium-padding);
}

.b-button .b-button-large-padding {
    padding: var(--button-large-padding);
}

/*DEFAULT*/
.b-button .b-button-default {
    background-color: var(--button-default);
}
.b-button .b-button-default:hover {
    background-color: var(--button-default-hover);
}
.b-button .b-button-default:active {
    background-color: var(--button-default-active);
}

/*PRIMARY*/
.b-button .b-button-primary {
    background-color: var(--button-primary);
}
.b-button .b-button-primary:hover {
    background-color: var(--button-primary-hover);
}
.b-button .b-button-primary:active {
    background-color: var(--button-primary-active);
}

/*ORANGE*/
.b-button .b-button-orange {
    background-color: var(--button-orange);
}
.b-button .b-button-orange:hover {
    background-color: var(--button-orange-hover);
}
.b-button .b-button-orange:active {
    background-color: var(--button-orange-active);
}

/*GREEN*/
.b-button .b-button-green {
    background-color: var(--button-green);
}
.b-button .b-button-green:hover {
    background-color: var(--button-green-hover);
}
.b-button .b-button-green:active {
    background-color: var(--button-green-active);
}

/*RED*/
.b-button .b-button-red {
    background-color: var(--button-red);
}
.b-button .b-button-red:hover {
    background-color: var(--button-red-hover);
}
.b-button .b-button-red:active {
    background-color: var(--button-red-active);
}