@import "./colors.css";

@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@font-face {
    font-family: "Pix Chicago";
    src: url("./fonts/pixChicago.woff");
}

:root {

    /*GENERICS*/
        /*TEXT*/
            --font-family-a: "Pix Chicago";
            --font-family-b: "system-ui";

        /*COLORS*/
            --hidden: var(--hidden-color);
            --text-color: var(--whib-840);
            --focus-color: var(--honeymoon-400);

        /*COMPOSITIONS*/
            --default-transition-time: 0.3s;
            --default-outline-focus-effect: var(--honeymoon-400) solid 3px;
            --small-font-size: 10px;

    /*COMPONENTS*/
        /*BUTTON*/
            /*GENERIC*/
                --button-border: 1px solid var(--whib-960);
                --button-inset-shadow-bottom: inset -2px -2px 0px 0px var(--shadowing-400);
                --button-inset-shadow-top: inset 2px 2px 0px 0px var(--white-shadowing-500);
                --button-hidden-outline: var(--hidden) 3px solid;
                --button-hidden-box-shadow: 3px 3px 0px 0px var(--hidden);
    
            /*ANIMATIONS*/
                /*HOVER*/
                    --button-hover-translate: -3px, -3px;
                    --button-hover-shadow: 3px 3px 0px 0px var(--whib-960);

                /*FOCUS*/
                    --button-active-outline: var(--focus-color) 4px solid;
            
            /*PADDINGS*/
                --button-small-padding: 10px;
                --button-medium-padding: 15px;
                --button-large-padding: 20px;
            
            /*THEMES*/
                --button-green: var(--chartreuse-500);
                --button-green-hover: var(--chartreuse-400);
                --button-green-active: var(--chartreuse-300);
                --button-red: var(--crimson-500);
                --button-red-hover: var(--crimson-400);
                --button-red-active: var(--crimson-300);
                --button-orange: var(--orange-red-400);
                --button-orange-hover: var(--orange-red-300);
                --button-orange-active: var(--orange-red-200);
                --button-primary: var(--honeymoon-400);
                --button-primary-hover: var(--honeymoon-300);
                --button-primary-active: var(--honeymoon-200);
                --button-default: var(--whib-180);
                --button-default-hover: var(--whib-120);
                --button-default-active: var(--whib-60);

        /*DIALOG*/
            /*GENERIC*/
                --dialog-border: 1px solid var(--whib-960);
        
            /*PADDINGS*/
                --dialog-padding: 10px;

            /*SHADOWS*/
                --dialog-top-left-inset-shadow: inset 2px 2px 0px 0px var(--whib-60);
                --dialog-bottom-right-inset-shadow: inset -2px -2px 0px 0px var(--whib-420);
                --dialog-content-top-left-shadow: 2px 2px 0px 0px var(--whib-60);
                --dialog-content-bottom-right-shadow: -2px -2px 0px 0px var(--whib-420);
                --dialog-over-shadow: 4px 4px 0px 0px var(--whib-960);
                --dialog-shadow-blur: 2px 2px 4px 4px var(--shadowing-500);
            
                
            --dialog-background-a: var(--whib-120);
            --dialog-border: 1px solid var(--whib-960);
            --dialog-shadow: var(--whib-960);
            --dialog-header-button-background: var(--whib-60);
            --dialog-background-image-offshadow: var(--shadowing-200);
            --dialog-header-button-hover-shadow: 3px 3px 0px 0px var(--whib-960);

        /*INPUT*/
            --input-text-background: var(--whib-60);
            --input-text-border: 1px solid var(--whib-960);

            --input-text-text-color: var(--text-color);
            --input-text-placeholder-text-color: var(--whib-480);

            --input-inner-shadow: inset 2px 2px 0px 0px var(--whib-420);
            --input-outter-shadow: 2px 2px 0px 0px var(--whib-60); 

}

/*INPUT*/
.b-input-text {
    background-color: var(--input-text-background);
    color: var(--input-text-text-color);
    font-family: "Pix Chicago";
    font-size: 12px;
    box-shadow: var(--input-inner-shadow), var(--input-outter-shadow);
    height: 40px;
    border: var(--input-text-border);
    padding-left: 10px;
    transition: var(--default-transition-time);
    box-sizing: border-box;
}
.b-input-text::placeholder {
    color: var(--input-text-placeholder-text-color);
}
.b-input-text:focus {
    outline: var(--button-active-outline);
}


/*DIALOG*/
.b-dialog {
    border: var(--dialog-border);
    background-color: var(--dialog-background-a);
    padding: var(--dialog-padding);
    box-shadow: var(--dialog-over-shadow), var(--dialog-shadow-blur),
        var(--dialog-top-left-inset-shadow), var(--dialog-bottom-right-inset-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.b-dialog-body {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background: url("../../public/dialog-content-background.png");
    background-repeat: repeat;
    box-shadow: var(--dialog-content-top-left-shadow), var(--dialog-content-bottom-right-shadow);
    border: var(--dialog-border);
}

.b-dialog-inner-body {
    width: 100%;
    height: 100%;
    background-color: var(--dialog-background-image-offshadow);
    padding: var(--dialog-padding);
    box-sizing: border-box;
}

.b-dialog-header {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b-dialog-header-buttons {
    display: flex;
    flex-direction: row;
}
.b-dialog-header-button {
    height: 100%;
    background-color: var(--dialog-header-button-background);
    padding-left: var(--dialog-padding);
    padding-right: var(--dialog-padding);
    font-family: "Pix Chicago";
    font-size: 10px;
    color: var(--text-color);
    border: var(--dialog-border);
    cursor: pointer;
    transition: var(--default-transition-time);
}
.b-dialog-header-button:hover {
    transform: translate(-3px, -3px);
    box-shadow: var(--dialog-header-button-hover-shadow);
}
.b-dialog-header-button:active {
    outline: var(--button-active-outline);
}


/*BUTTON*/
.b-button {
    outline: var(--button-hidden-outline);
    cursor: pointer;
    font-family: "Pix Chicago", sans-serif;
    font-size: var(--small-font-size);
    color: var(--text-color);
    border: var(--button-border);
    box-shadow: var(--button-inset-shadow-top), var(--button-inset-shadow-bottom);
    transition: var(--default-transition-time);
}
.b-button:hover {
    transform: translate(var(--button-hover-translate));
    box-shadow: var(--button-hover-shadow);
}
.b-button:active {
    outline: var(--button-active-outline);
}

.b-button-small-padding {
    padding: var(--button-small-padding);
}

.b-button-medium-padding {
    padding: var(--button-medium-padding);
}

.b-button-large-padding {
    padding: var(--button-large-padding);
}

/*DEFAULT*/
.b-button-default {
    background-color: var(--button-default);
}
.b-button-default:hover {
    background-color: var(--button-default-hover);
}
.b-button-default:active {
    background-color: var(--button-default-active);
}

/*PRIMARY*/
.b-button-primary {
    background-color: var(--button-primary);
}
.b-button-primary:hover {
    background-color: var(--button-primary-hover);
}
.b-button-primary:active {
    background-color: var(--button-primary-active);
}

/*ORANGE*/
.b-button-orange {
    background-color: var(--button-orange);
}
.b-button-orange:hover {
    background-color: var(--button-orange-hover);
}
.b-button-orange:active {
    background-color: var(--button-orange-active);
}

/*GREEN*/
.b-button-green {
    background-color: var(--button-green);
}
.b-button-green:hover {
    background-color: var(--button-green-hover);
}
.b-button-green:active {
    background-color: var(--button-green-active);
}

/*RED*/
.b-button-red {
    background-color: var(--button-red);
}
.b-button-red:hover {
    background-color: var(--button-red-hover);
}
.b-button-red:active {
    background-color: var(--button-red-active);
}

h1 {
    font-size: 26px;
    margin: 0;
    font-family: "Actor", sans-serif;
    color: var(--text-color);
}

h2 {
    font-size: 20px;
    margin: 0;
    font-family: "Actor", sans-serif;
    color: var(--text-color);
}

p {
    font-size: 16px;
    margin: 0;
    font-family: "Actor", sans-serif;
    color: var(--text-color);
}

p.px {
    font-size: 12px!important;
    font-family: "Pix Chicago"!important;
}

h1.px {
    font-size: 24px!important;
    font-family: "Pix Chicago"!important;
}

h2.px {
    font-size: 16px!important;
    font-family: "Pix Chicago"!important;
}